<html>
	<body>
		{%for item in data%}
		
{% if loop.index == loop.length %}
{{loop.length}} Oeuvres<br>
			{%endif%}
{%endfor%}
		
		{%for item in data%}
		<h2>	{%for title in item['dcterms:title']%}{{title['@value']}}{%endfor%}</h2>
		<ul>
			{%for subject in item['dcterms:subject']%}<li>{{subject['@value']}}</li>{%endfor%}
		</ul>
{%endfor%}
{{headers.Link}}
	</body>
</html>
